
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.tech{
    background:rgba(137, 43, 221);
    color: aliceblue;
    padding: 20px;
    text-align: center; 
    font-size: 40px;
    margin-top: 50px;
}

.welco{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    border-radius: 10px;
    padding: 0 10px;
    background: white;
    color: rgba(137, 43, 221);
    height: 40px;
}

.btn:hover{
     font-size: 20px;
    padding: 0 10px;
    background:rgba(137, 43, 221);
    color: aliceblue;
    height: 40px;
    border-radius: 10px;
    border:  2px solid aliceblue;
}

.btu{
    font-size: 20px;
    padding: 0 10px;
    background:rgba(137, 43, 221);
    color: aliceblue;
    height: 40px;
    border-radius: 10px;
    border:  2px solid aliceblue;
}

.btu:hover{
    font-size: 20px;
    border-radius: 10px;
    padding: 0 10px;
    background: white;
    color: rgba(137, 43, 221);
    height: 40px; 
}

main{
    max-width: 92vw;
    margin:  0 auto;
}

.our{
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

.serve{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}

.ser i{
    font-size: 2em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
}

.ser{
    background:rgba(138, 43, 221, 0.14); 
    padding: 20px;

}

.ser h3{
    padding: 20px;
    font-size: 20px;
}

#icon{
    width: 2em;
    background: blue;
}

.serp{
    padding: 20px;
}

.boot{
    text-align: center;
    padding: 50px;
}

.view{
    background:rgba(137, 43, 221);
    color: aliceblue;
    font-size: large;
    border: none;
    border-radius:20px;
    padding: 0 15px;
    height: 35px;
}

h4{
    font-size: 40px;
}

.net{
    display: flex;
    gap: 20vw;
}

.net p{
    font-size: 20px;
}

.work img{
    border-radius: 20px;
    margin-top: 20px;
}

.vie{
    background: rgba(137, 43, 221);
    color: aliceblue;
    font-size: large;
    height: 35px;
    margin-top: 20px;
    padding: 0 20px;
    border: none;
    border-radius: 20px;
}



.img{
    background:rgba(138, 43, 221, 0.177);
    padding: 20px;
    color: rgba(137, 43, 221);
    font-size: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
} 

.place{
    border-radius: 20px;
}

.start{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    padding: 0;
    font-size: 30px;
}

.start h4 p{
   margin-top: 50px;
   font-size: 40px;
}

.start p{
    font-size: 20px;
}

/* about */

.about{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 70px;
    padding: 0;
    justify-content: center;
    font-size: 40px;
}

.mar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#affai{
    color: blue;
    font-size: x-large;
}

.photo{
    background:rgba(138, 43, 221, 0.488);
    padding: 60px;
    color:rgba(137, 43, 221);
    font-size: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
 

.star{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    padding: 0;
    font-size: 30px;
}

.star h4{
    font-size: 40px;
}

.star p{
    font-size: 20px;
}

.btt{
    font-size: 20px;
    padding: 0 10px;
    background:rgba(137, 43, 221);
    color: aliceblue;
    height: 40px;
    border-radius: 10px;
    border:  2px solid aliceblue;
}

/* service */

.tecb{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    padding: 0;
}

.tecb h1{
    font-size: 60px;
}

.tacb p{
    font-size: 18px;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 330px 330px;
    gap: 1em;
    margin-top:0%;
    margin-bottom: -47%;
    font-size: 20px;
}

.box {
    border: 2px solid mistyrose;
    border-radius: .3em;
}

.box i{
    font-size: 2em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 230px 330px 330px;
    gap: 1em;
    margin-top: -40px;
    margin-bottom: -45%;
    font-size: 20px;
}

.boe{
    border: 2px solid mistyrose;
    border-radius: .3em;
}

.boe i{
    font-size: 2em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
}

.stare{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}

.stare h4{
   font-size: 40px;
}

.stare p{
   font-size: 20px;
}

.btr{
    font-size: 20px;
    border-radius: 10px;
    padding: 0 10px;
    background: white;
    color: rgba(137, 43, 221);
    height: 40px;
    border: none;
}

.btr:hover{
    font-size: 20px;
    padding: 0 10px;
    background:rgba(137, 43, 221);
    color: aliceblue;
    height: 40px;
    border-radius: 10px;
    border:  2px solid aliceblue;
}

/* event */

.tecu{
    color: aliceblue;
    text-align: center;
    padding: 0;
    justify-content: center;
    font-size: 25px;
    margin-top: 80px;
    background: rgba(137, 43, 221);
}

.tecu h1{
    font-size: 50px;
}

.tecu p{
    margin-top: -20px;
}

.curre{
   margin-top: 70px;
   margin-bottom: 50px;
}

.curre h2{
    font-size: 40px;
    font-family: sans-serif;
}

.event{
    background: rgba(216, 184, 244, 0.438);
    padding: 50px ;
    border: 2px solid rgb(215, 171, 254);
    border-radius: 10px;
}

.event button{
    background: rgba(137, 43, 221) ;
    color: aliceblue;
    border: none;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.them{
    color: rgba(137, 43, 221);
    font-size:30px;
    font-family: monospace;
}

.taget{
    display: flex;
    justify-content: space-between;
    background: rgb(244, 244, 242);
    padding: 10px;
    border: 1px solid  rgba(138, 43, 221, 0.437);
    border-radius: 5px;
}

.late{
    color: rgba(137, 43, 221);
    font-size: 30px;
}

.num{
    color:  rgba(137, 43, 221);
}

.num:hover{
    text-decoration: underline;

}

.shop{
    background: rgb(244, 244, 242);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid  rgba(138, 43, 221, 0.437);
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.sta{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 80px;
    padding: 0;
   justify-content: center;

}

.bro{
    font-size: 20px;
    padding: 0 60px;
    background:rgba(137, 43, 221);
    color: aliceblue;
    border-radius: 10px;
    border:  2px solid aliceblue;
}

.bro:hover{
    font-size: 20px;
    border-radius: 10px;
    padding: 0 60px;
    background: white;
    color: rgba(137, 43, 221);
}

.ton{
    font-size: 20px;
    padding: 0 20px;
    background:rgba(137, 43, 221);
    color: aliceblue;
    border-radius: 10px;
    border:  2px solid aliceblue;
}

/* contact */

.cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.get i{
    font-size: 2em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
}

.aka:hover{
    color: #e287e8;
    cursor: pointer;
}

.aku{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    font-family: Arial, sans-serif;

}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{
    background:rgba(137, 43, 221);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
   background:rgba(137, 43, 221);
}

.content{
   text-align: center;
   padding: 20px;
   background: #ccc;
   margin-top: 30px;
}

.content h4{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.map{
    background:rgba(137, 43, 221);
    padding: 90px;
    border-radius: 10px;
    display: flex;
    color: #f7f4f4;
    justify-content: center;
    text-align: center;
    max-height: 200px;
}
.footer{
    background: #111;
    color: #f2d8d8cf;
    padding: 20px;
}

.footer a{
    list-style: none;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section{
    flex: 1;
    margin: 0 10px;
}

.footer-section h3{
    color:rgba(137, 43, 221);
    margin-bottom: 10px;
}

.footer-section p{
    font-size: 0.9em;
    line-height: 1.4;
}

.footer-section  a{
    text-decoration: none;
    color: #ccc;
}

.footer-section li {
     list-style: none;
}

.quick-link ul,
.more{
    list-style: none;
    padding: 0;
}


.footer-section  a:hover{
   text-decoration: underline;
   color: #d43adf;
}

.buttom{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #333;
    font-size: 0.8em;
}

a{
    text-decoration: none;
}

@media (max-width: 600px){
    header{
        display: block;
        position: sticky;
        top: 0;
    }

    .tech{
      background:rgba(137, 43, 221);
      color: aliceblue;
      text-align: center;
      padding: 0;
      font-size: 40px; 
    }

    .tech h1{
        font-size: 30px;
    }

    .tech p{
        font-size: 15px;
    }
     
    .btn{
       padding: 0 70px;
   }
   
    .btu{
      padding: 0 70px;
   }

    .bot{
        display: grid;
        gap: 10px;
    }


    main{
    max-width: 92vw;
    margin: auto;
  }

  .our{
    text-align: center;
    padding: 40px;
    font-size: 50px;
  }

  .serve{
    display:block;
    color: rgb(248, 244, 244);
   }

   .ser{
    background:rgba(137, 43, 221); 
    padding: 20px;
    margin-top: 30px;

  }

  .ser h3{
     margin-top: 0;
  }

  .net{
    display: block;
    gap: 20vw;
  }

  .vie{
    background:rgba(137, 43, 221);
    color: aliceblue;
    font-size: large;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    border: none;
  }

  .work{
    font-size: 10px;
  }

  .place{
    background:rgba(138, 43, 221, 0.253);
    padding: 70px;
    color:rgba(137, 43, 221);
    font-size: 40px;
    width: 80vw;
    margin-bottom: 30px;
    border-radius: 10px;
 }

 .start{
    background:rgba(137, 43, 221);
    color: aliceblue;
    margin-top: 30px;
    font-size: 10px;
    padding: 0;
    font-size: 30px;
  }

  .boot{
    margin-top: 30px;
    padding: 10px;
  }

  /* about */

  .about{
    background:rgba(137, 43, 221);
    color: aliceblue;
    padding: 0;
    justify-content: center;
    font-size: 40px;
  }

  .about h1{
    font-size: 1em;
  }

  .about p{
    font-size: 20px;
  }

  .mar{
    display: block;
  }

   .photo{
      font-size: 20px;
   }

  .star{
      background:rgba(137, 43, 221);
      color: aliceblue;
      margin-top: 80px;
      padding: 0;
      justify-content: center;
  }
  
  .btt{
    padding:0 60px;
  }

  /* service */

  .tecb{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}

.tecb h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tacb p{
    font-size: 5px;
}

  .grid { 
     grid-template-columns: 1fr;
     grid-template-rows: 200px 200px 200px;
     margin-bottom: 50px;
 }

 .box i{
    font-size: 1em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
 }
  
 .container{
    grid-template-columns: 1fr;
    margin-top: 30px;
    grid-template-rows: 200px 200px 200px;
    margin-bottom: 10vh;
 }

 .boe i{
    font-size: 1em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
 }

.taget{
    display: block;

  }

  .stare{
    background:rgba(137, 43, 221);
    color: aliceblue;
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}

.stare h4{
   font-size: 40px;
}

.stare p{
   font-size: 15px;
}

.btr{
   padding: 0 60px;
 }

/* contact */

.cont{
    display: block;
    margin-top: 40px;
}

.get i{
    font-size: 1.9em;
    color:rgba(137, 43, 221);
    margin: 10px;
    padding:0;
    justify-content: center;
 }

/* footer */

.footer-container{
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .footer-section{
    margin: 20px 0;
    /* text-align: center; */
  }
 
}